body {
    margin: 0;
    padding: 0;
    background: #d7ebee;
    font-family: 'v';
}

/* -------------------------- top half */

.top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    flex-direction: column;
    height: 70vh;
    width: 100vw;
}

.box {
    position: relative;
    font-family: 'Tsukimi Rounded', sans-serif;
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 200px;
    height: 200px;
    border-radius: 25%;
    user-select: none;
    z-index: 1;
}

.container:active {
        transform: translatey(3px);
}

.count {
    margin: 0;
    font-size: 52px;
}

h2 {
    margin: 0;
    position: absolute;
    bottom: 18px;
    font-size: 18px;
}

.hidden {
    display: none;
}

.set {
    display: flex;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    top: -12px;
    left: -12px;
    position: absolute;
    z-index: 2;
    font-size: 20px;
}

.bubble {
    background: #f7fbff;
    box-shadow: 0px 6px 18px #7c8e913b;
    box-sizing: border-box;
}



/* -------------------------- bottom half */

.bottom {
    display: flex;
    height: 30vh;
    width: 100vw;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    flex-direction: column;
    position: absolute;
    bottom: 0
}

button {
    font-family: 'Varela Round', sans-serif;
    display: block;
    box-sizing: border-box;
    margin-top: 20px;
    padding: 8px;
    width: 200px;
    border-radius: 8px;
    border: none;
    background: #27affd;
    color: white;
    font-size: 18px;
    box-shadow: 0px 6px 18px #7c8e913b;
}

button:active {
        background: #2760fd;
        transform: translateY(2px);
}
